body {
  margin: 0;
    background-image: url('./images/green.png');
    background-size: 100%;
    background-repeat: no-repeat;   
    

    /*background-image: url('./images/waves.jpeg');
    background-size: 25%;
    background-repeat: none;   */
    
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    background-color: green;
    color: black;
    border: none;
    font-family: Helvetica;
    font-size: 30px;
}
